body {
  /*max-width: 1100px;*/
  margin: auto;
  padding: 0;
}
.map {
  width: 49%;
  border: medium solid #999;
  border-width: thin;
  float: right;
}
.watershedBounds {
    /*fill-opacity:.7;*/
    fill: #e0eeee;
    stroke: white;
    stroke-width: .5px;
}
.chart {
  width: 50%;
  border: medium solid #999;
  border-width: thin;
  /*float: center;*/
}
.states {
    fill-opacity: .0;
    stroke: black;
    stroke-width: .4px;
    stroke-opacity:1;
}
.numbers {
    /*font-weight: bold;*/
    fill: red;
    /*stroke: white;
    stroke-width: .1;*/
    font-family: sans-serif;
    font-size: 10px
}
.chartTitle {
  font-family: sans-serif;
  font-size: 1em;
}
.subTitle {
  font-family: sans-serif;
  font-size: .75em;
}
.axis path,
.axis line {
    fill: none;
    stroke: #999;
    stroke-width: 1px;
    shape-rendering: crispEdges;
}

.axis text {
    font-family: sans-serif;
    font-size: 0.8em;
    fill: #999;
}
